geopandas
matplotlib
numpy
pandas
shapely
plotly
seaborn
folium
rasterio
requests
pypinyin
ipywidgets
IPython
skimage
osmnx
beautifulsoup4
torch
tqdm
opencv-python
scikit-learn
torchvision
Pillow
segmentation-models-pytorch
tifffile
pyrosm
py7zr
